@charset "utf-8";
/* CSS Document */
@font-face{
	font-family: 'SVN-Cookie';
	src: url('../fonts/SVN-Cookie.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'Roboto-Regular';
	src: url('../fonts/Roboto-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'Roboto-Bold';
	src: url('../fonts/Roboto-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}
@font-face{
	font-family: 'Roboto-Medium';
	src: url('../fonts/Roboto-Medium.ttf');
	font-weight: normal;
	font-style: normal;
}
body{
	background: #F9F9F9;
	margin: 0 auto;
	font-family: 'Roboto-Regular';
	font-size: 14px;
	line-height: 150%;
}

.m-t-b-24{
	margin-top: 24px;
	margin-bottom: 24px;
}
.m-r-8{
	margin-right: 8px;
}
.pink{
	color: #FB0179;
}
.black{
	color: #262626;
}
.btn{
	font-family: 'Roboto-Medium';
	border: 1px solid rgba(60, 60, 67, 0.3);
	box-sizing: border-box;
	padding: 10px 30px;
	font-size: 12px;
	text-transform: uppercase;
}
.text-link:hover, .text-link:active{
	color: #6441A5;
	text-decoration: none;
}

/* CSS Header */
.navbar{
	justify-content: normal;
	height: 56px;
    background: #FFF;
	box-shadow: 0px 0px 8px rgba(60, 60, 67, 0.16);
	padding: 10px 15px;
}
.navbar-vn{
	height: 56px;
	background: #FFFFFF;
	box-shadow: 0px 0.33px 0px rgba(60, 60, 67, 0.3);
}
.navbar-brand{
	margin-right: 0;
	margin-left: 1rem;
	font-family:'SVN-Cookie';
	font-size: 40px;
	font-weight: normal;
	background-image: linear-gradient(66.9deg, #FB0179 16.18%, #6441A5 54.9%, #1FB3E0 95.26%);
	-webkit-background-clip: text;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}
.navbar-brand:hover{
	background-image: linear-gradient(66.9deg, #FB0179 16.18%, #6441A5 54.9%, #1FB3E0 95.26%);
	-webkit-background-clip: text;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}
.navbar-toggler {
    padding: 4px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    background: #FFF;
    display: inline-block;
    border-radius: 3px;
	color: #8F5DB7;
	line-height:inherit;
	transition: .3s ease-in-out;
}
.nav-btn {
	position: absolute;
    right: 16px;
    font-size: 24px;
}
.nav-btn a{
	display: inline-block;
	color: #000;
	background: #FFF;
    padding: 4px;
    border-radius: 3px;
	transition: .3s ease-in-out;
}
.nav-btn a:hover, .nav-btn a:active, .navbar-toggler:hover, .navbar-toggler:active{
	color: #FFF;
	background: #6441A5;
}
.store-list{
	background: #FAFAFA;
    box-sizing: border-box;
    border-radius: 5px;
    height: 40px;
    position: absolute;
    right: 130px;
}
@media (max-width: 767px) {
  	.store-list{
		position: absolute;
   		right: 0;
    	height: auto;
    	padding: 16px;
    	top: 56px;
    	border-radius: 0;
	}
}
.store-list ul{
    height: 40px;
    line-height: 40px;
	width: calc(100% - 70px);
}
@media (max-width: 767px) {
  	.store-list ul{
		height: auto;
    	line-height: 150%;
    	display: inline-block;
    	width: 100%;
	}
}
.store-list ul li{
	display: inline-block;
	margin-right: 10px;
	overflow: hidden;
	width: 60px;
    white-space: nowrap; 
    text-overflow: ellipsis;
	color: #262626;
}  
@media (max-width: 767px) {
  	.store-list ul li{
		width: auto;
	}
} 
@media (max-width: 767px){
	.sm-none {
    	display: none !important;
	}
	.slide{
		padding: 0;
	}
}
/* CSS Product line  */
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
	bottom: 0;
}
.bt-w{
	color: #FFF;
	filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.25));
}
.swiper-container {
	width: 100%;
	height: 100%;
	margin-top: 72px;
}
@media (max-width: 767px){
	.swiper-container {
		margin-top: 56px;
		position: relative;
	}
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	height: 400px;
}
@media (max-width: 414px){
	.swiper-slide {
		height: 550px;
	}
}
@media (max-width: 375px){
	.swiper-slide {
		height: 500px;
	}
}
@media (max-width: 360px){
	.swiper-slide {
		height: 480px;
	}
}
@media (max-width: 320px){
	.swiper-slide {
		height: 420px;
	}
}
.swiper-slide:hover .im-dsp-overlay{
	bottom: 0;
	opacity: 1;
}
.swiper-slide:hover .des-dsp{
	opacity: 0;
}
.im-dsp{
	width: 100%;
	height: 100%;
	position: absolute;
	object-fit: cover;
	display: block;
}
.im-dsp-overlay {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: 0;
	background: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
	z-index: 1;
	transition: .3s ease-in-out;
}
.im-dsp-btn{
	border-radius: 5px;
	padding: 8px 24px;
	position: relative;
	top: 48%;
	transition: .3s ease-in-out;
	border: none;
	color: #FFF
}
.im-dsp-btn ion-icon{
	font-size: 32px;
	margin-right: 4px;
	filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.7));
}
.im-dsp-btn span{
	font-size: 18px;
	position: relative;
    top: -6px;
	text-shadow: 1px 1px 1px #222;
}
.im-dsp-btn:hover, .im-dsp-btn:active{
	color: #FFF;
	background: #B9A3E3;
}
.des-dsp{
	position: absolute;
	width: 100%;
	padding: 16px 16px 24px 16px;
	box-sizing: border-box;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
	bottom: 0;
	text-align: justify;
	color: #FFF;
	transition: .3s ease-in-out;
	text-shadow: 1px 1px 1px #222;

}
.des-dsp h3{
	font-family: 'Roboto-Bold';
	font-size: 16px;
}
.des-dsp p{
	font-family: 'Roboto-Regular';
	font-size: 14px;
	margin-bottom: 0;
	word-break: break-word;
}

/* CSS Tag  */
.tag h2{
	font-family: 'Roboto-Medium';
	font-size:16px;
	color: #000;
}
.badge-info{
	display: inline-block;
	background: #6441A5;
	border-radius: 3px; 
	font-family: 'Roboto-Regular';
	font-weight: normal;
	font-size: 10px;
	padding: 5px 10px;
	text-align: center;
	text-transform: uppercase;
	color: #FEFEFE;
    position: relative;
    top: -3px;
    margin-bottom: 8px;
}
.badge-info:hover, .badge-info:active{
	background: #B9A3E3;
}