@charset "utf-8";
/* CSS Document */
@font-face{
	font-family: 'SVN-Cookie';
	src: url('../fonts/SVN-Cookie.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'Roboto-Regular';
	src: url('../fonts/Roboto-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'Roboto-Bold';
	src: url('../fonts/Roboto-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}
@font-face{
	font-family: 'Roboto-Medium';
	src: url('../fonts/Roboto-Medium.ttf');
	font-weight: normal;
	font-style: normal;
}
body{
	background: #F9F9F9;
	margin: 0 auto;
	font-family: 'Roboto-Regular';
	font-size: 14px;
	line-height: 150%;
}
.bg-page{
	background:url(../images/Group338.jpg) no-repeat right bottom;
  	background-attachment: fixed;
  	background-size: cover;
}
.m-t-b-24{
	margin-top: 24px;
	margin-bottom: 24px;
}
.m-t-b-40{
	margin-top: 40px;
	margin-bottom: 40px;
}
.m-r-8{
	margin-right: 8px;
}
.pink{
	color: #FB0179;
}
.black{
	color: #262626;
}
.color-google{
	color: #EA4335 !important;
}
.color-facebook{
	color: #1877F2 !important;
}
.btn{
	font-family: 'Roboto-Medium';
	border: 1px solid rgba(60, 60, 67, 0.3);
	box-sizing: border-box;
	padding: 10px 30px;
	font-size: 12px;
	text-transform: uppercase;
}
.btn-purple{
	background: #6441A5;
	filter: drop-shadow(1px 1px 6px rgba(0, 0, 0, 0.3));
	color: #FFF;
	transition: .3s ease-in-out;
}
.btn-purple:hover, .btn-purple:active, .btn-login:hover, .btn-login:active, .btn-add:hover, .btn-add:active{
	background: #B9A3E3;
	color: #FFF;
	border-color: #B9A3E3;
}
.btn-login{
	color: #FFF;
	transition: .3s ease-in-out;
}
.bg-facebook{
	background: #1877F2;
}
.bg-google{
	background: #EA4335;
}
.text-link-icon{
	color: #8F5DB7;
	position: relative;
    top: 2px;
}
.text-link:hover, .text-link:active{
	color: #6441A5;
	text-decoration: none;
}
.m-t-72{
	margin-top: 72px;
}
.m-t-48{
	margin-top: 48px;
}
.m-t-16{
	margin-top: 16px;
}
.p-r-30{
	padding-right: 30px;
}
/* CSS Header */
.navbar{
	justify-content: normal;
	height: 56px;
    background: #FFF;
	box-shadow: 0px 0px 8px rgba(60, 60, 67, 0.16);
	padding: 10px 15px;
}
.navbar-vn{
	height: 56px;
	background: #FFFFFF;
	box-shadow: 0px 0.33px 0px rgba(60, 60, 67, 0.3);
}
.navbar-brand{
	margin-right: 0;
	margin-left: 1rem;
	font-family:'SVN-Cookie';
	font-size: 40px;
	font-weight: normal;
	background-image: linear-gradient(66.9deg, #FB0179 16.18%, #6441A5 54.9%, #1FB3E0 95.26%);
	-webkit-background-clip: text;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}
@media (min-width: 768px){
	.navbar-brand{
		margin-left: 0;
	}
}

.navbar-toggler {
    padding: 4px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    background: #FFF;
    display: inline-block;
    border-radius: 3px;
	color: #8F5DB7;
	line-height:inherit;
	transition: .3s ease-in-out;
}
.nav-btn {
	position: absolute;
    right: 16px;
    font-size: 24px;
}
.nav-btn a{
	display: inline-block;
	color: #000;
	background: #FFF;
    padding: 4px;
    border-radius: 3px;
	transition: .3s ease-in-out;
}
.nav-btn a:hover, .nav-btn a:active, .navbar-toggler:hover, .navbar-toggler:active{
	color: #FFF;
	background: #6441A5;
}
.store-list{
	background: #FAFAFA;
    box-sizing: border-box;
    border-radius: 5px;
    height: 40px;
    position: absolute;
    right: 130px;
}
@media (max-width: 767px) {
  	.store-list{
		position: absolute;
   		right: 0;
    	height: auto;
    	padding: 16px;
    	top: 56px;
    	border-radius: 0;
	}
}
.store-list ul{
    height: 40px;
    line-height: 40px;
	width: calc(100% - 85px);
}
@media (max-width: 767px) {
  	.store-list ul{
		height: auto;
    	line-height: 150%;
    	display: inline-block;
    	width: 100%;
	}
}
.store-list ul li{
	display: inline-block;
	margin-right: 10px;
	overflow: hidden;
	width: calc((100% - 83px) / 10);
    white-space: nowrap; 
    text-overflow: ellipsis;
	color: #262626;
}  
@media (max-width: 767px) {
  	.store-list ul li{
		width: 30%;
	}
} 
@media (max-width: 568px){
	.sm-none {
    	display: none !important;
	}
	.slide{
		padding: 0;
	}
}
/* CSS Product line  */
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
	bottom: 0;
}
.bt-w{
	color: #FFF;
	filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.25));
}
.swiper-container {
	width: 100%;
	height:400px;
	margin-top: 72px;
}
@media (max-width: 568px){
	.swiper-container {
		margin-top: 56px;
		position: relative;
	}
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	height: 100%;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

/* ----------- Mobile ----------- */
/* Portrait */
@media only screen
 and (min-device-width: 375px)
 and (max-device-width: 736px)
 and (-webkit-min-device-pixel-ratio: 2)
 and (orientation: portrait) {
 	.swiper-container{
		height: 550px;
	}
}
/* Landscape */
@media only screen
 and (min-device-width: 375px)
 and (max-device-width: 896px)
 and (-webkit-min-device-pixel-ratio: 2)
 and (orientation: landscape) {
 	.swiper-container{
		height: 340px;
	}
}
/* ----------- Tablet ----------- */
/* Portrait */
@media only screen
 and (min-device-width: 768px)
 and (max-device-width: 1024px)
 and (-webkit-min-device-pixel-ratio: 2)
 and (orientation: portrait) {
 	.swiper-container{
		height: 880px;
	}
    .swiper-slide {
		height: calc((100% - 30px) / 2);
	}
	.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
		bottom:10px;
	}
}
/* Landscape */
@media only screen
 and (min-device-width: 768px)
 and (max-device-width: 1024px)
 and (-webkit-min-device-pixel-ratio: 2)
 and (orientation: landscape) {
 	.swiper-container {
		height: 590px;
	}
    .swiper-slide {
		height: calc((100% - 30px) / 2);
	}
	.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
		bottom:10px;
	}
}

.swiper-slide:hover .im-dsp-overlay, .list-dsp:hover .im-dsp-overlay{
	bottom: 0;
	opacity: 1;
}
.swiper-slide:hover .des-dsp, .list-dsp:hover .des-dsp{
	opacity: 0;
}
.im-dsp{
	width: 100%;
	height: 100%;
	position: absolute;
	object-fit: cover;
	display: block;
}
.im-dsp-overlay {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: 0;
	background: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
	z-index: 1;
	transition: .3s ease-in-out;
	text-align: center;
}
.im-dsp-btn{
	border-radius: 5px;
	padding: 8px 24px;
	position: relative;
	top: 44%;
	transition: .3s ease-in-out;
	border: none;
	color: #FFF
}
.im-dsp-btn ion-icon, .im-sp-btn ion-icon{
	font-size: 32px;
	margin-right: 4px;
	filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.7));
}
.im-dsp-btn span{
	font-size: 18px;
	position: relative;
    top: -6px;
	text-shadow: 1px 1px 1px #222;
}
.im-dsp-btn:hover, .im-dsp-btn:active, .im-sp-btn:hover, .im-sp-btn:active {
	color: #FFF;
	background: #B9A3E3;
}
.des-dsp{
	position: absolute;
	width: 100%;
	padding: 16px 16px 24px 16px;
	box-sizing: border-box;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
	bottom: 0;
	text-align: justify;
	color: #FFF;
	transition: .3s ease-in-out;
	text-shadow: 1px 1px 1px #222;

}
.des-dsp h3{
	font-family: 'Roboto-Bold';
	font-size: 16px;
}
.des-dsp p{
	font-family: 'Roboto-Regular';
	font-size: 14px;
	margin-bottom: 0;
	word-break: break-word;
}

/* CSS Tag  */
.tag h2{
	font-family: 'Roboto-Medium';
	font-size:16px;
	color: #000;
}
.badge-info{
	display: inline-block;
	background: #6441A5;
	border-radius: 3px; 
	font-family: 'Roboto-Regular';
	font-weight: normal;
	font-size: 10px;
	padding: 5px 10px;
	text-align: center;
	text-transform: uppercase;
	color: #FEFEFE;
    position: relative;
    top: -3px;
    margin-bottom: 8px;
	border-radius: 10px;
}
.badge-info:hover, .badge-info:active{
	background: #B9A3E3;
}

/* Modal */
.modaldsp.swiper-container{
	margin-top: 0;
}
.modal-dsp{
	width: 100%;
	height: 550px;
}
.modal-title{
	font-family: 'Roboto-Bold';
	font-size: 20px;
	text-align: center;
}
.modal-header{
	padding: 12px 16px 8px 16px;
}
.modal-content{
	border-radius: 15px;
}
@media (min-width: 576px){
	.modal-dialog {
		max-width: 700px;
		margin: 1.75rem auto;
	}
	.modal-dsp{
		height: 400px;
	}
}

/* Box info */
.box-margin{
	margin-top: 130px;
	margin-left: 4px;
	margin-right: 4px;
}
.box-info{
	background: #FFFFFF;
	box-shadow: 0px 0px 8px rgba(60, 60, 67, 0.16);
	border-radius: 15px;
	padding: 40px 50px;
}
.box-info-title{
	font-family:'SVN-Cookie';
	font-size: 40px;
	font-weight: normal;
	color: #B9A3E3;
}
.text-login{
	background: #FFF;
	color: rgba(0, 0, 0, 0.4);
	text-transform: uppercase;
	text-align: center;
	padding: 5px 10px;
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	margin-top: -20px;
    float: left;
    margin-left: calc((100% - 55px) / 2);
}

/* Landing DSP, SP */
.sz14{
	height: 14px;
    right: 10px;
    top: 2px;
    font-size: 14px;
    position: relative;
}
.form-control{
	font-family: 'Roboto-Regular';
	font-size: 14px;
}
label{
	margin-bottom: 4px;
}
input[type="file" i] {
	overflow: hidden;
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
  display: none;
}
.upload-icon{
	display: block;
    font-size: 24px;
    float: right;
    margin-top: -30px;
    margin-right: 5px;
}
.btn-add{
	background: #6441A5;
	color: #FFF;
	padding: 8px 30px 7px 30px;
}
.m-btn-add, .m-btn-add2{
	margin-top: 41px;
}
@media (max-width: 1023px){
	.m-btn-add{
		margin-top: 16px;
	}
	.insert_sp{
		margin-top: -16px;
	}
}
@media (max-width: 576px){
	.m-btn-add2{
		margin-top: 16px;
	}
}
.im-sp-btn{
	border-radius: 5px;
	padding: 12px 14px 4px 16px;
	position: relative;
	top: 86%;
	transition: .3s ease-in-out;
	border: none;
	color: #FFF;
	font-size: 32px;
}
.list-dsp{
	width: 100%;
    height: 400px;
    position: relative;
	margin-top:24px;
}
/* ----------- Mobile ----------- */
/* Portrait */
@media only screen
 and (max-device-width: 374)
 and (-webkit-min-device-pixel-ratio: 2)
 and (orientation: portrait) {
 	.list-dsp {
		height: 380px;
	}
}
@media only screen
 and (min-device-width: 375px)
 and (max-device-width: 736px)
 and (-webkit-min-device-pixel-ratio: 2)
 and (orientation: portrait) {
 	.list-dsp {
		height: 500px;
	}
}
/* Landscape */
@media only screen
 and (min-device-width: 375px)
 and (max-device-width: 896px)
 and (-webkit-min-device-pixel-ratio: 2)
 and (orientation: landscape) {
 	.list-dsp {
		height: 710px;
	}
}
/* ----------- Tablet ----------- */
/* Portrait */
@media only screen
 and (min-device-width: 768px)
 and (max-device-width: 1024px)
 and (-webkit-min-device-pixel-ratio: 2)
 and (orientation: portrait) {
	.list-dsp {
		height: 300px;
	}
}
/* Landscape */
@media only screen
 and (min-device-width: 768px)
 and (max-device-width: 1024px)
 and (-webkit-min-device-pixel-ratio: 2)
 and (orientation: landscape) {
	.list-dsp {
		height: 300px;
	}
}

/* Add SP*/
.add-sp{
	height: 420px;
	overflow-y: scroll;
}
.form-sp{
	border: none;
	padding-right: 0;
	padding-left: 0;
}
.im-add-sp{
	width: 100%;
	height: auto;
}
.p-m-btn-add{
	margin:16px 0; 
	padding: 10px 0;
}
.form-sp:focus {
  border-color:none;
  box-shadow: none;
}
.t-30{
	top:30%;
}
